// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(114, 73, 160);
}

h1 {
  color: rgb(19, 51, 3);
}

.comment {
  color: rgb(74, 126, 119);
}
